/* *{
    font-size: 1.1em;
} */

.headerContainer{
    border: solid 60px red;
}

.scrollBar{
    border: solid whitesmoke;
    background-color: pink;
    width: 100%;
   text-align: center;
   
}

.searchBar{
    border: 5px solid pink;
   margin-top:-4px;
   display: flex;
justify-content: space-around;
    align-items: center;
}

.logoimg{
    height:50px;
}

.rightSide img{
    height: 25px;
    margin-top:30px ;
}

.navBar{
display: flex;
justify-content: space-evenly;
}

.padCollectionsCont{
    display: flex;
    flex-direction:row;
}

.mainheading{
    /* border: solid black; */
    width: 50%;
    margin: auto; /* margin:auto centers divs while text-align moves text*/
    text-align: center;

}

.Collection{
    /* height:50px; */
    /* border: solid blue; */
    width:70%;
    display: flex; 
   margin: auto;
}

.Collect{
/* border: solid red; */
margin: 10px;
text-align: center;
}

.subHeading{
    /* border: solid green; */
    width: 50%;
    margin: auto; /* margin:auto centers divs while text-align moves text*/
    text-align: center;
}

.padMoCollect, .text1a, .padSigCollect, .text1b, .padTimeLessCollect, .text1c, .padMeCollect, .text1d, .disXPanCollect, .text1e, .starWarsXPanCollect, .text1f, .compYourMission, .text1g {
    text-decoration: none;
    color: black;
}

.text1{
    width:400px;
    margin: auto; /* margin:auto centers divs while text-align moves text*/
}

.miniButtons{
color: black;
}

.row2{
    /* height:280px; */
    display: flex;

}

.Collection {
    background-image:url("https://cms-live.pandora.net/resource/crblob/1283326/dff92f11748b954b8be277e70a8d76dd/disney-x-pandora-svg-data.svg");
     /* background-image: url("paper.https://cms-live.pandora.net/resource/crblob/1283326/dff92f11748b954b8be277e70a8d76dd/disney-x-pandora-svg-data.svg")  */
    
   }

   .miniIcon{
    /* border: solid blueviolet; */
    margin-top: -90px;
    margin-bottom: 100px;
   }
   .miniIconImg{
    height: 40px;
   /* margin-top: -1000px; */
   }

.row3{
    width:100%;
    display: flex; 
}

.footerContainer{
    border: solid whitesmoke;
    background-color: whitesmoke;
    height: 60vh;
}

.leftSide{
   width: 30%; 
}

.rightSide2, .upperFooter{
    display: flex;
    margin: 2%;
    align-items: left;
    /* flex-direction: row; */
}

.enterEmail{
    height: 25px;
}

.signUpButton button {
height: 30px;
}
/* .row1 img{
    height:280px;
    width:600px;
    display: flex; 
} */