.headerContainer{
    border: solid 60px red;
}

.scrollBar{
    border: solid whitesmoke;
    background-color: pink;
    width: 100%;
   text-align: center;
   
}

.searchBar{
    border: 5px solid pink;
   margin-top:-4px;
   display: flex;
justify-content: space-around;
    align-items: center;
}

.logoimg{
    height:50px;
}

.rightSide img{
    height: 25px;
    margin-top:30px ;
}

.navBar{
display: flex;
justify-content: space-evenly;
}

.padCollectionsCont{
    display: flex;
    flex-direction:row;
}

.mainheading{
    text-align: center;
}

.Collection1, .Collection2, .Collection3, .Collection4, .Collection5, .Collection6, .Collection7, .Collection8{
    height:50px;
    width:145px;
    display: flex; 

}

.padMoCollect, .text1a, .padSigCollect, .text1b, .padTimeLessCollect, .text1c, .padMeCollect, .text1d, .disXPanCollect, .text1e, .starWarsXPanCollect, .text1f, .compYourMission, .text1g {
    text-decoration: none;
    color: black;
}

.text1{
    width:250px;
}

.miniButtons{
color: black;
}

row2 img{
    /* height:280px; */
}

.footerContainer{
    border: solid whitesmoke;
    background-color: whitesmoke;
    height: 60vh;
}

/* .row1 img{
    height:280px;
    width:600px;
    display: flex; 
} */