.headerContainer{
    border: solid 60px red;
}

.scrollBar{
    border: solid whitesmoke;
    background-color: pink;
    width: 100%;
   text-align: center;
   
}

.searchBar{
    border: 5px solid pink;
   margin-top:-4px;
   display: flex;
justify-content: space-around;
    align-items: center;
}

.logoimg{
    height:50px;
}

.rightSide img{
    height: 25px;
    margin-top:30px ;
}

.navBar{
display: flex;
justify-content: space-evenly;
}

.mainheading{
    text-align: center;
}

.Collection1{
    height: 228px;
    display: flex;

  
}
.padMoCollect, .text1a{
    text-decoration: none;
    color: black;
}

.text1{
    width:250px;
}

.miniButtons{
color: black;
}